<section class="intro">
    <div class="gradient"></div>
    <div class="container">
        <div class="column-wrap">

            <!-- Left Column -->
            <div class="column c-left">
                <!-- Navi -->
                <div class="tubular-mute navi">
                    <div class="nav-toggle nav-toggle-float" data-offcanvas="open">
                        <span class="waves-effect waves-light" id="tour-1">
                  <i class="flaticon-menu55"></i>
                </span>
                    </div>
                    <a class="btn btn-float btn-primary icon-left waves-effect waves-light" href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in"><i class="flaticon-add184"></i> Sign in</a>
                </div>
                <!-- Scroll for More Button -->
                <a href="#features" class="scroll-more scroll tubular-mute" data-offset-top="-55">
                    <i class="icon"></i>
                    <span>Scroll to see Features</span>
                </a>
            </div>

            <!-- Middle Column-->
            <div class="column c-middle">
                <h1 class="logo">
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" style="font-size:4em;"></span>
              <img src="images/labster-logo.png" alt="{{ site.title }}" class="long">
              <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">{{ site.pitch }}</span>
            </h1>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="browser dark">
                        <div class="bar">
                            <div class="home"></div>
                            <div class="addressbar">
                                <div class="search text">
                                    <a href="#" class="tubular-mute waves-effect waves-primary text-primary" data-toggle="modal" data-target="#signup-page" data-modal-form="sign-up">http://labster.com/signup</a>
                                </div>
                            </div>
                            <div class="settings"></div>
                        </div>
                        <div class="content">

                            <form id="intro-form" style="padding:20px;   background-color: #16283a;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-control">
                                            <input type="text" name="fd_name" id="fd_name" required aria-required="true" style="color:#fff;">
                                            <label for="fd_name">Name</label>
                                            <span class="error-label"></span>
                                            <span class="valid-label"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control">
                                            <input type="email" name="fd_email" id="fd_email" required aria-required="true" style="color:#fff;">
                                            <label for="fd_email">Email</label>
                                            <span class="error-label"></span>
                                            <span class="valid-label"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row space-top">
                                    <div class="col-sm-7">
                                        <label class="checkbox space-top">
                                            <div class="icheckbox">
                                                <input type="checkbox" style="position: absolute; opacity: 0;" checked><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                            </div>Receive Updates
                                        </label>
                                    </div>
                                    <div class="col-sm-5">
                                        <button type="submit" class="tubular-mute btn btn-block btn-sm btn-primary btn-float waves-effect waves-light"><i class="flaticon-thumb54"></i> Get Started</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- // end browser -->
                </div>
            </div>

            <!-- Right Column-->
            <div class="column c-right">
                <!-- Social Buttons -->
                <div class="tubular-mute social-buttons text-right">
                    <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
                    <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
                    <a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
                    <a href="#" class="tubular-mute sb-volume"><i class="flaticon-volume51"></i></a>
                    <!-- <a href="#" class="sb-behance"><i class="bi-behance"></i></a> -->
                    <!-- <a href="#" class="sb-bitbucket"><i class="bi-bitbucket"></i></a> -->
                    <!-- <a href="#" class="sb-codepen"><i class="bi-codepen"></i></a> -->
                    <!-- <a href="#" class="sb-deviantart"><i class="bi-deviantart"></i></a> -->
                    <!-- <a href="#" class="sb-digg"><i class="bi-digg"></i></a> -->
                    <!-- <a href="#" class="sb-dribbble"><i class="bi-dribbble"></i></a> -->
                    <!-- <a href="#" class="sb-dropbox"><i class="bi-dropbox"></i></a> -->
                    <!-- <a href="#" class="sb-flickr"><i class="bi-flickr"></i></a> -->
                    <!-- <a href="#" class="sb-foursquare"><i class="bi-foursquare"></i></a> -->
                    <!-- <a href="#" class="sb-github"><i class="bi-github"></i></a> -->
                    <!-- <a href="#" class="sb-instagram"><i class="bi-instagram"></i></a> -->
                    <!-- <a href="#" class="sb-jsfiddle"><i class="bi-jsfiddle"></i></a> -->
                    <!-- <a href="#" class="sb-lastfm"><i class="bi-lastfm"></i></a> -->
                    <!-- <a href="#" class="sb-linkedin"><i class="bi-linkedin"></i></a> -->
                    <!-- <a href="#" class="sb-paypal"><i class="bi-paypal"></i></a> -->
                    <!-- <a href="#" class="sb-pinterest"><i class="bi-pinterest-circled"></i></a> -->
                    <!-- <a href="#" class="sb-reddit"><i class="bi-reddit"></i></a> -->
                    <!-- <a href="#" class="sb-skype"><i class="bi-skype"></i></a> -->
                    <!-- <a href="#" class="sb-soundcloud"><i class="bi-soundcloud"></i></a> -->
                    <!-- <a href="#" class="sb-stackoverflow"><i class="bi-stackoverflow"></i></a> -->
                    <!-- <a href="#" class="sb-steam"><i class="bi-steam"></i></a> -->
                    <!-- <a href="#" class="sb-stumbleupon"><i class="bi-stumbleupon"></i></a> -->
                    <!-- <a href="#" class="sb-trello"><i class="bi-trello"></i></a> -->
                    <!-- <a href="#" class="sb-tumblr"><i class="bi-tumblr"></i></a> -->
                    <!-- <a href="#" class="sb-twitch"><i class="bi-twitch"></i></a> -->
                    <!-- <a href="#" class="sb-vimeo"><i class="bi-vimeo-squared"></i></a> -->
                    <!-- <a href="#" class="sb-vine"><i class="bi-vine"></i></a> -->
                    <!-- <a href="#" class="sb-vk"><i class="bi-vkontakte"></i></a> -->
                    <!-- <a href="#" class="sb-wechat"><i class="bi-wechat"></i></a> -->
                    <!-- <a href="#" class="sb-wordpress"><i class="bi-wordpress"></i></a> -->
                    <!-- <a href="#" class="sb-xing"><i class="bi-xing"></i></a> -->
                    <!-- <a href="#" class="sb-yahoo"><i class="bi-yahoo"></i></a> -->
                    <!-- <a href="#" class="sb-yelp"><i class="bi-yelp"></i></a> -->
                    <!-- <a href="#" class="sb-youtube"><i class="bi-youtube"></i></a> -->
                </div>
                <!-- Features -->
                <div class="intro-features">
                    <div class="icon-block icon-block-horizontal box-float" data-transition-delay="100">
                        <div class="icon va-middle"><i class="flaticon-screen47"></i>
                        </div>
                        <div class="text">
                            <h3>Revolutionary Learning style</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="icon-block icon-block-horizontal box-float" data-transition-delay="300">
                        <div class="icon va-middle"><i class="flaticon-cloud302"></i>
                        </div>
                        <div class="text">
                            <h3>Great Lab Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="icon-block icon-block-horizontal box-float" data-transition-delay="500">
                        <div class="icon va-middle"><i class="flaticon-magic20"></i>
                        </div>
                        <div class="text">
                            <h3>Smart Labs</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <!-- Download Button -->
                <div class="download">
                    <h4 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 
                  Enter your <strong>name</strong> and <strong>email</strong> to get instant access to our science labs with a <span class="text-primary">free trial</span>.
              </h4>

                </div>
            </div>
        </div>
    </div>

</section>