<section class="intro" style="background-image: url(images/intro/lab-3d.jpg);">
    <div class="gradient"></div>
      <div class="container">
        <div class="column-wrap">

          <!-- Left Column -->
          <div class="column c-left">
            <!-- Navi -->
            <div class="navi">
              <div class="nav-toggle nav-toggle-float" data-offcanvas="open">
                <span class="waves-effect waves-light">
                  <i class="flaticon-menu55"></i>
                </span>
              </div>
              <a class="btn btn-float btn-primary icon-left waves-effect waves-light" href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in"><i class="flaticon-add184"></i> Sign in</a>
            </div>
            <!-- Scroll for More Button -->
            <a href="#features" class="scroll-more scroll" data-offset-top="-5">
              <i class="icon"></i>
              <span>Scroll for more</span>
            </a>
          </div>

          <!-- Middle Column-->
          <div class="column c-middle">
            <h1 class="logo">
              <img src="images/logo-big.png" alt="Labster">
              <img src="images/labster-logo.png" alt="{{ site.title }}" class="long">
              <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">{{ site.tagline }}</span>
            </h1>
            <div class="phone">
              <img src="images/intro/screen.png" alt="App Screen">
            </div>
          </div>

          <!-- Right Column-->
          <div class="column c-right">
            <!-- Social Buttons -->
            <div class="social-buttons text-right">
              <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
              <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
              <a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
              <!-- <a href="#" class="sb-behance"><i class="bi-behance"></i></a> -->
              <!-- <a href="#" class="sb-bitbucket"><i class="bi-bitbucket"></i></a> -->
              <!-- <a href="#" class="sb-codepen"><i class="bi-codepen"></i></a> -->
              <!-- <a href="#" class="sb-deviantart"><i class="bi-deviantart"></i></a> -->
              <!-- <a href="#" class="sb-digg"><i class="bi-digg"></i></a> -->
              <!-- <a href="#" class="sb-dribbble"><i class="bi-dribbble"></i></a> -->
              <!-- <a href="#" class="sb-dropbox"><i class="bi-dropbox"></i></a> -->
              <!-- <a href="#" class="sb-flickr"><i class="bi-flickr"></i></a> -->
              <!-- <a href="#" class="sb-foursquare"><i class="bi-foursquare"></i></a> -->
              <!-- <a href="#" class="sb-github"><i class="bi-github"></i></a> -->
              <!-- <a href="#" class="sb-instagram"><i class="bi-instagram"></i></a> -->
              <!-- <a href="#" class="sb-jsfiddle"><i class="bi-jsfiddle"></i></a> -->
              <!-- <a href="#" class="sb-lastfm"><i class="bi-lastfm"></i></a> -->
              <!-- <a href="#" class="sb-linkedin"><i class="bi-linkedin"></i></a> -->
              <!-- <a href="#" class="sb-paypal"><i class="bi-paypal"></i></a> -->
              <!-- <a href="#" class="sb-pinterest"><i class="bi-pinterest-circled"></i></a> -->
              <!-- <a href="#" class="sb-reddit"><i class="bi-reddit"></i></a> -->
              <!-- <a href="#" class="sb-skype"><i class="bi-skype"></i></a> -->
              <!-- <a href="#" class="sb-soundcloud"><i class="bi-soundcloud"></i></a> -->
              <!-- <a href="#" class="sb-stackoverflow"><i class="bi-stackoverflow"></i></a> -->
              <!-- <a href="#" class="sb-steam"><i class="bi-steam"></i></a> -->
              <!-- <a href="#" class="sb-stumbleupon"><i class="bi-stumbleupon"></i></a> -->
              <!-- <a href="#" class="sb-trello"><i class="bi-trello"></i></a> -->
              <!-- <a href="#" class="sb-tumblr"><i class="bi-tumblr"></i></a> -->
              <!-- <a href="#" class="sb-twitch"><i class="bi-twitch"></i></a> -->
              <!-- <a href="#" class="sb-vimeo"><i class="bi-vimeo-squared"></i></a> -->
              <!-- <a href="#" class="sb-vine"><i class="bi-vine"></i></a> -->
              <!-- <a href="#" class="sb-vk"><i class="bi-vkontakte"></i></a> -->
              <!-- <a href="#" class="sb-wechat"><i class="bi-wechat"></i></a> -->
              <!-- <a href="#" class="sb-wordpress"><i class="bi-wordpress"></i></a> -->
              <!-- <a href="#" class="sb-xing"><i class="bi-xing"></i></a> -->
              <!-- <a href="#" class="sb-yahoo"><i class="bi-yahoo"></i></a> -->
              <!-- <a href="#" class="sb-yelp"><i class="bi-yelp"></i></a> -->
              <!-- <a href="#" class="sb-youtube"><i class="bi-youtube"></i></a> -->
            </div>
            <!-- Features -->
            <div class="intro-features">
              <div class="icon-block icon-block-horizontal box-float" data-transition-delay="100">
                <div class="icon va-middle"><i class="flaticon-screen47"></i></div>
                <div class="text">
                  <h3>Revolutionary Learning style</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="icon-block icon-block-horizontal box-float" data-transition-delay="300">
                <div class="icon va-middle"><i class="flaticon-cloud302"></i></div>
                <div class="text">
                  <h3>Great Lab Content</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="icon-block icon-block-horizontal box-float" data-transition-delay="500">
                <div class="icon va-middle"><i class="flaticon-magic20"></i></div>
                <div class="text">
                  <h3>Smart Labs</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <!-- Download Button -->
            <div class="download">
              <p class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Oculus Riff, Desktop and Tablet versions</p>
              <a href="#web-app" class="btn btn-primary btn-float waves-effect btn-see-labster scroll" data-offset-top="15">
                <img src="/images/see-labster.png" alt="">
                <span>Get started right away</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>