<div class="offcanvas-nav">
      <!-- Head (Fixed Part) -->
      <div class="nav-head">
        <div class="top-bar">
          <form class="search-box">
            <span class="search-toggle waves-effect waves-light"></span>
            <input type="text" id="search-field">
            <button type="submit" class="search-btn"><i class="flaticon-search100"></i></button>
          </form>
          <div class="nav-close waves-effect waves-light waves-circle" data-offcanvas="close"><i class="flaticon-close47"></i></div>
          <div class="social-buttons">
            <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
            <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
            <a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
          </div>
        </div>
        <a href="#" class="offcanvas-logo scrollup">
          <div class="icon"><img src="images/labster-icon-large.png" alt="{{ site.title }}"></div>
          <div class="title">
            {{ site.title }}
            <span>{{ site.tagline }}</span>
          </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="light-color nav-link">Sign In</a>
        <a href="#web-app" class="btn btn-flat btn-light icon-left waves-effect waves-light"><i class="flaticon-car147"></i> Test Drive </a>
      </div>
      <!-- Body (Scroll Part) -->
      <div class="nav-body">
        <div class="overflow">
          <div class="inner">
            <!-- Navigation -->
            <nav class="nav-link">
              <div class="scroll-nav">
                <ul>
                  <!-- Add ".scroll" class to anchor tag to enable smooth scrolling -->
                  <li class="active"><a class="scrollup" href="#">Home</a></li>
                  <li><a class="scroll" href="#features" data-offset-top="80">Features</a></li>
                  <li><a class="scroll" href="#gallery" data-offset-top="80">Gallery</a></li>
                  <li><a class="scroll" href="#video" data-offset-top="85">Video</a></li>
                  <li><a class="scroll" href="#posts" data-offset-top="80">Info Cards</a></li>
                </ul>
                <ul>
                  <li><a class="scroll" href="#our-story" data-offset-top="80">Our Story</a></li>
                  <li><a class="scroll" href="#figures" data-offset-top="80">Benefits</a></li>
                  <li><a class="scroll" href="#reviews" data-offset-top="90">Reviews</a></li>
                  <li><a class="scroll" href="#pricing" data-offset-top="80">Pricing</a></li>
                  <li><a class="scroll" href="#web-app" data-offset-top="80">Test Drive</a></li>
                </ul>
              </div>
              <ul class="pages hidden">
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#blog">Blog</a></li>
                <li><a href="/#press">Press</a></li>
                <li><a href="/#privacy">Privacy</a></li>
                <li><a href="/#style-guide">Style Guide</a></li>
              </ul>
            </nav>

            <!-- Twitter/Blog Tabs -->
            <div class="offcanvas-tabs">
              <ul class="nav-tabs clearfix">
                <li class="active"><a class="waves-effect waves-primary" href="#twitter" data-toggle="tab">Twitter</a></li>
                <li><a class="waves-effect waves-primary" href="#blog" data-toggle="tab">Blog</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="twitter">
                  <div class="twitter-feed">
                    <div class="tweet">
                      <a href="#" class="author">@labster</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor et <a href="#">#magna aliqua</a>.</p>
                    </div>
                    <div class="tweet">
                      <a href="#" class="author">@labster</a>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                    </div>
                    <a href="#" class="link light-color text-smaller text-uppercase">Follow us on twitter</a>
                  </div>
                </div>
                <div class="tab-pane fade" id="blog">
                  <div class="offcanvas-posts">
                    <a href="#" class="post">
                      Latest Release
                      <span>Lorem ipsum dolor sit</span>
                    </a>
                    <a href="#" class="post">
                      New Lab Available
                      <span>Tenetur omnis sit odit velit quaerat deserunt cupiditate.</span>
                    </a>
                    <a href="#" class="post">
                      New labs are Coming
                      <span>Sed ut perspiciatis unde omnis</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>