      <!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
      <header class="navbar black navbar-sticky">
        <div class="container">
          <!-- Logo -->
          <a href="#" class="logo scrollup">
            <img src="images/labster-icon-large.png" alt="{{ site.title }}">
            <img src="images/labster-logo.png" alt="{{ site.title }}" class="long">
          </a>
          <!-- Social Buttons -->
          <div class="social-buttons">
            <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
            <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
            <a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
          </div>
          <!-- Toolbar -->
          <div class="toolbar">
            <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">{{ site.tagline }}</span>
            <a href="#" data-toggle="modal" data-target="#signup-page" data-modal-form="sign-up" class="btn btn-ghost btn-info icon-left"><i class="flaticon-delivery6"></i> Sign Up</a>
            <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn text-info">Sign in</a>
            <div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26 text-info"></i></div>
          </div>
        </div>
      </header>   

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

