    <div class="modal fade" id="signin-page">
      <div class="modal-dialog">
        <div class="container">
          <div class="modal-form">
            <div class="tab-content">
              <!-- Sign in form -->
              <form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off">
                <h3 class="modal-title">Sign In</h3>
                <div class="form-group space-top-2x">
                  <label for="si_email" class="sr-only">Email</label>
                  <input type="email" class="form-control" name="si_email" id="si_email" placeholder="Email" readonly onfocus="$(this).removeAttr('readonly');" required>
                  <span class="error-label"></span>
                  <span class="valid-label"></span>
                </div>
                <div class="form-group">
                  <label for="si-password" class="sr-only">Password</label>
                  <input type="password" class="form-control" name="si-password" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
                  <a class="helper-link" href="#">Forgot password?</a>
                  <span class="error-label"></span>
                  <span class="valid-label"></span>
                </div>
                <label class="checkbox">
                  <input type="checkbox"> Remember me
                </label>
                <div class="space-top-2x clearfix">
                  <button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
                  <button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
                </div>
                <!-- Switching forms (Fake nav tab) -->
                <div class="form-switch helper-text space-top-2x">Don`t have an account? <a href="#form-1">Sign up for Labster</a></div>
              </form>
              <!-- Sign up form -->
              <form class="tab-pane transition scale fade" id="signup-form">
                <h3 class="modal-title">Sign Up</h3>
                <div class="form-group space-top-2x">
                  <label for="su-email" class="sr-only">Email</label>
                  <input type="email" class="form-control" name="su-email" id="su-email" placeholder="Email" required>
                  <span class="error-label"></span>
                  <span class="valid-label"></span>
                </div>
                <div class="form-group">
                  <label for="su-password" class="sr-only">Password</label>
                  <input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
                  <span class="error-label"></span>
                  <span class="valid-label"></span>
                </div>
                <div class="form-group">
                  <label for="su-password-repeat" class="sr-only">Repeat password</label>
                  <input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
                  <span class="error-label"></span>
                  <span class="valid-label"></span>
                </div>
                <label class="checkbox">
                  <input type="checkbox"> Subscribe for our news
                </label>
                <div class="space-top-2x clearfix">
                  <button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
                  <button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
                </div>
                <!-- Switching forms (Fake nav tab) -->
                <div class="form-switch helper-text space-top-2x">Already have an account? <a href="#form-2">Sign in</a></div>
              </form>
            </div>
            <!-- Hidden real nav tabs -->
            <ul class="nav-tabs hidden">
              <li id="form-1"><a href="#signup-form" data-toggle="tab">Sign up</a></li>
              <li id="form-2"><a href="#signin-form" data-toggle="tab">Sign in</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




<!-- Portfolio Style Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.project }}</h2>
                            <hr class="star-primary">
                                <img src="images/blog/{{ post.img }}" class="img-responsive img-centered img-rounded" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <a href="{{ post.siteurl }}" class="btn btn-success btn-lg" target="_blank"><i class="fa fa-eye"></i> Let's Go See</a>
                            <ul class="list-inline item-details">
                                <li>Project:
                                    <strong><a href="{{ post.siteurl }}" target="_blank">{{ post.project }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                                <li>What We Did:
                                    <strong>{{ post.category }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}