      <section class="fw-bg bottom-shadow overlay gradient-blue-red padding-top-3x padding-bottom-2x" style="background-image: url(images/webapp/bg.jpg);" id="web-app">
        <div class="container light-color">
          <div class="block-heading">
            <h2 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">{{ site.title }}</h2>
            <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">{{ site.description }}</span>
          </div>
          <div class="row space-top-3x">
            <div class="col-md-5">
              <div class="icon-block icon-block-horizontal">
                <div class="icon hidden-xs"><i class="flaticon-two385"></i></div>
                <div class="text">
                  <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Full Featured Lab Environment</h3>
                  <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                  <a href="#" class="link editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Learn More</a>
                  <!-- Download Button -->
                  <a href="#" class="btn btn-success btn-float waves-effect waves-light btn-lg editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">
                    <i class="flaticon-car147"></i> Start Your Test Drive </a>
                </div>
              </div>
            </div>
            <div class="col-md-7" id="tour-10">
              <img src="images/webapp/macbook.png" alt="Web App">
            </div>
          </div>
        </div>
      </section><!-- Web Application End -->
