      <section class="fw-gray-bg padding-top-3x padding-bottom-3x" id="posts">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="block-heading text-right">
                <h2 id="tour-6" class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Labster Info Cards</h2>
                <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Give something to people to enjoy</span>
              </div>
              <!-- Twitter Feed -->
              <div class="twitter-feed">
                <div class="tweet">
                  <a href="#" class="author">@labster</a>
                  <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor et <a href="#">#magna aliqua</a>.</p>
                </div>
                <div class="tweet">
                  <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
                <a href="https://twitter.com/labster" class="link text-smaller text-uppercase btn btn-ghost btn-primary editable" target="_blank" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Click to learn more</a>
              </div>
              <div class="space-bottom-2x visible-xs"></div>
            </div>
            <!-- Blog Posts -->
            <div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8">
              <div class="scroller posts">
                <div class="item">
                  <div class="post-tile">
                    <a href="#" class="post-thumb colored">
                      <img src="images/blog/thumb01.jpg" alt="">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="#"><h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Great Interactions</h3></a>
                        <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Tools to help you build lab expiriments</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="#" class="post-thumb colored">
                      <img src="images/blog/thumb02.jpg" alt="">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="#"><h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">New Labs all the time</h3></a>
                        <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Choose among 30+ labs</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="#" class="post-thumb colored">
                      <img src="images/blog/thumb.png" alt="">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="#"><h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Oculus Rift Interface</h3></a>
                        <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Fun to move and touch</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="#" class="post-thumb colored">
                      <img src="images/blog/thumb.png" alt="">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="#"><h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Share Your Thoughts</h3></a>
                        <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Labs that helps to save more loves through training</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
