 <!-- What's This All About? -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>We like to make things. We like to write things. We like to help ideas get off the ground. 
                        We are also on a mission to build the <a href="#portfolioModal-4" class="portfolio-link text-info" data-toggle="modal">world's finest writing experience</a> - and we built it on the road. <br />
                        That reminds us, we also <i>really</i>, <i>really</i> like to travel. Our goal is to never get so busy making a living, that we forget 
                        to make a life. Psssst...we can help you do that, too, you know. Anyhoo, if you click this button, we will show you a random but inspiring video.
                    </p>
                </div>
                <div class="col-lg-6">
                    <p>Whether you are a misfit entrepreneur, maker, writer, funded startup, or large enterprise, chances are we can help you do what you do...<i>better</i>.
                        In fact, we want to - less crap is good for humanity. Maybe it's boosting your <a href="#portfolioModal-3" class="portfolio-link text-info" data-toggle="modal">startup incubator</a>, or how to get <a href="#portfolioModal-2" class="portfolio-link text-info" data-toggle="modal">HopStack</a> hopping in your hackathon.
                        Maybe you just want us to design an experience that your users will love you for. Either way, we're here to listen. 
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% for video in site.videos | where:"video-id","xS7HmZMqY6Q"  %}
                    <a href="#videoModal-{{ video.video-id }}" class="btn btn-lg btn-outline" data-toggle="modal">
                        <i class="fa fa-video-camera"></i> You Deserve To Be Inspired
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>