      <!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
      <header class="navbar gray navbar-sticky">
        <div class="container">
          <!-- Logo -->
          <a href="#" class="logo scrollup">
            <img src="images/labster-icon-small.png" alt="Labster">
            {{ site.title }}
          </a>
          <!-- Social Buttons -->
          <div class="social-buttons">
            <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
            <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
            <a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
          </div>
          <!-- Toolbar -->
          <div class="toolbar">
            <span>{{ site.tagline }}</span>
            <a href="#" class="btn btn-ghost btn-primary icon-left"><i class="bi-apple"></i> Sign Up</a>
            <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn">Sign in</a>
            <div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
          </div>
        </div>
      </header>   

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

