    <!-- jQuery Version -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
    <!-- Bootstrap Core -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!-- Plugins -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <!-- Mail Bot -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bearded_mail_bot.js" | prepend: site.baseurl }}"></script>
    <!-- Theme Stuffs -->
    <script src="{{ "/js/beardedfedora.js" | prepend: site.baseurl }}"></script>
