    <script src="{{ "js/libs/jquery-2.1.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/libs/jquery.easing.1.3.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/velocity.min.js" | prepend: site.baseurl }}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ "js/plugins/smoothscroll.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/waves.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/form-plugins.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/jquery.mCustomScrollbar.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/bootstrap-editable.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/plugins/bootstrap-tour.min.js" | prepend: site.baseurl }}"></script>
    <script src="js/plugins/jquery.fs.wallpaper.min.js"></script>
    <script src="js/{{ site.theme }}.js"></script>

