 <!-- Video Modals -->
    {% for video in site.videos %}
    <div class="portfolio-modal modal fade" id="videoModal-{{ video.video-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h2>{{ video.title }}</h2>
                            <hr class="star-primary">
                            <iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/{{ video.video-id }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            <p>{{ video.description }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}