      <section class="fw-bg overlay gradient-red-blue padding-top-3x padding-bottom-2x" style="background-image: url(images/circles-50.jpg);" id="versions">
        <div class="container">
          <div class="block-heading light-color text-center">
            <h2 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Big First Labster CTA</h2>
            <span style="font-size:1.3em;" class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">{{ site.tagline }}</span>
          </div>
          <div class="row space-top-3x">
            <div class="col-lg-12">
              <div class="row labster-versions">
                <div class="col-xs-8">
                    <p style="color: #fff;" class="lead editable" data-type="textarea" data-pk="8" data-url="" data-title="Title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptas dolor, neque adipisci.
                    </p>
                </div>
                <div class="col-md-4">
                  <a id="tour-7" href="#pricing" class="btn btn-lg btn-danger btn-block btn-float icon-right waves-effect waves-dark">
                      <i class="flaticon-check51"></i> Signup or Learn More CTA
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>