<section class="fw-bg bottom-shadow padding-top-3x padding-bottom-2x" style="background-color: #1d354d;" id="web-app">
    <div class="container">
        <div class="block-heading">
        </div>
        <div class="row space-top-3x">
            <div class="col-md-5">
                <div class="icon-block icon-block-horizontal">
                    <div class="icon hidden-xs"><i class="flaticon-cloud306"></i>
                    </div>
                    <div class="text">
                        <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Full Featured Lab Environment</h3>
                        <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                        <a href="#our-story" class="link scroll" data-offset-top="30">Learn More</a>
                        <h2 class="space-top editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Get started today</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-7" id="tour-10">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="browser dark">
                        <div class="bar">
                            <div class="home"></div>
                            <div class="addressbar">
                                <div class="search text"><a href="#" class="waves-effect waves-primary text-primary" data-toggle="modal" data-target="#signup-page" data-modal-form="sign-up">http://labster.com/signup</a>
                                </div>
                            </div>
                            <div class="settings"></div>
                        </div>
                        <div class="content">

                            <form id="cta-form" style="padding:20px;   background-color: #16283a;" class="text-muted">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="https://cdn3.iconfinder.com/data/icons/funky/136/Profile-256.png">
                                    </div>
                                    <div class="col-sm-6">
                                        <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">One Last CTA Message</h3>
                                        <div class="text">
                                            <h3 class="editable editable-click" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Smart Labs</h3>
                                            <p class="editable editable-pre-wrapped editable-click" data-type="textarea" data-pk="8" data-url="" data-title="Title" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-control">
                                            <input type="text" name="fd_name" id="fd_name2" required aria-required="true" style="color:#fff;">
                                            <label for="fd_name">Name</label>
                                            <span class="error-label"></span>
                                            <span class="valid-label"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control">
                                            <input type="email" name="fd_email" id="fd_email2" required aria-required="true" style="color:#fff;">
                                            <label for="fd_email">Email</label>
                                            <span class="error-label"></span>
                                            <span class="valid-label"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row space-top">
                                    <div class="col-sm-7">
                                        <label class="checkbox space-top">
                                            <div class="icheckbox">
                                                <input type="checkbox" style="position: absolute; opacity: 0;" checked><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                            </div>Receive Updates
                                        </label>
                                    </div>
                                    <div class="col-sm-5">
                                        <button type="submit" class="btn btn-block btn-primary btn-float btn-app-store waves-effect waves-primary">
                                            <i class="flaticon-thumb54"></i> Get Started</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- // end browser -->
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Web Application End -->
