      <section class="fw-bg overlay gradient-dark padding-top-3x padding-bottom-2x" style="background-color: #e3e3e3;" id="footer-cta">
        <div class="container">
          <div class="block-heading light-color text-center">
            <h2 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">The Last CTA</h2>
            <span style="font-size:1.3em;" class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">{{ site.tagline }}</span>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row labster-versions">
                <div class="col-md-12">
                  <a data-offset-top="10" id="tour-7" href="#web-app" class="scroll btn btn-lg btn-info btn-block btn-float icon-right waves-effect waves-primary">
                      <i class="flaticon-check51"></i> Signup or Learn More CTA
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>