<section class="fw-bg top-inner-shadow gallery padding-top-3x padding-bottom-3x" id="gallery" style="background-color: #00b8d6;">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="block-heading light-color text-right">
                <h2 id="tour-4" class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Cool Features</h2>
                <span class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">The best way to show off</span>
              </div>
              <div class="text-right">
                <div class="padding-top-2x hidden-sm hidden-xs"></div>
                <ul class="nav-tabs alt-tabs nav-vertical">
                  <li class="active"><a class="waves-effect" href="#screens" data-toggle="tab">Lab Screenshots</a></li>
                  <li><a class="waves-effect" href="#video-prev" data-toggle="tab">Video Preview</a></li>
                  <li><a class="waves-effect" href="#proto" data-toggle="tab">Prototype</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="screens">
                  <div class="scroller app-gallery light-color">
                    <div class="item">
                      <a href="images/gallery/01.png" class="waves-effect">
                        <img src="images/gallery/th01.png" alt="Thumbnail">
                      </a>
                    </div>
                    <div class="item">
                      <a href="images/gallery/02.png" class="waves-effect">
                        <img src="images/gallery/th02.png" alt="Thumbnail">
                      </a>
                      <a href="images/gallery/02.png" class="waves-effect">
                        <img src="images/gallery/th02.png" alt="Thumbnail">
                      </a>
                    </div>
                    <div class="item">
                      <a href="images/gallery/01.png" class="waves-effect">
                        <img src="images/gallery/th01.png" alt="Thumbnail">
                      </a>
                    </div>
                    <div class="item">
                      <a href="images/gallery/02.png" class="waves-effect">
                        <img src="images/gallery/th02.png" alt="Thumbnail">
                      </a>
                      <a href="images/gallery/02.png" class="waves-effect">
                        <img src="images/gallery/th02.png" alt="Thumbnail">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="video-prev">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/cWvD9GZdYUU?rel=0&amp;controls=0&amp;showinfo=0" width="500" height="281" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="tab-pane fade" id="proto">
                  <img src="images/gallery/prototype.png" alt="Prototype">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>