<section class="fw-bg top-inner-shadow padding-top-3x padding-bottom-3x" id="posts" style="background-color: #96cb4b;">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="block-heading text-right light-color">
                <h2>Happy Posts</h2>
                <span>Make people read</span>
              </div>
              <div class="text-right">
                <a href="blog.html" class="text-smaller light-color">All Posts</a>
              </div>
              <!-- Twitter Feed -->
              <div class="twitter-feed">
                <div class="tweet tweet-float">
                  <a href="#" class="author">@bedismo</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod... <a href="#">#magna aliqua</a>.</p>
                </div>
                <div class="tweet tweet-float">
                  <a href="#" class="author">@bedismo</a>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
                <div class="text-right">
                  <a href="#" class="text-smaller light-color">Follow us on twitter</a>
                </div>
              </div>
              <div class="space-bottom-2x visible-xs"></div>
            </div>
            <!-- Blog Posts -->
            <div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8">
              <div class="scroller light-color posts">
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb waves-effect">
                      <img src="images/blog/thumb.png" alt="Great Interactions">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Great Interactions</h3></a>
                        <span>Support Android 5.0 Lollipop</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb waves-effect">
                      <img src="images/blog/thumb.png" alt="Smart Keyboard">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Smart Keyboard</h3></a>
                        <span>Easily switch between keyboards</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb waves-effect">
                      <img src="images/blog/thumb.png" alt="Interactions Map">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Light Interface</h3></a>
                        <span>Pleasant to touch</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb waves-effect">
                      <img src="images/blog/thumb.png" alt="Interactions Map">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Share Your Moments</h3></a>
                        <span>App that helps to share emotions</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>