      <section class="fw-bg bottom-shadow space-top bottom-shadow" id="reviews">
        <hr>
        <div class="container padding-bottom">
          <!-- Badge -->
          <div id="tour-8" class="badge badge-info" class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">
            <span class="icon"><i class="flaticon-emoticon117"></i></span>
            <span style="font-size: 2.5em;padding-top:3px;">Press & Accolades</span>
          </div>
          <!-- Reviews -->
          <div class="row">
            <div class="col-sm-4">
              <div class="press-review">
                <img src="//www.labster.com/static/images/landing/mit.a5122a21ab30.jpg" alt="">
                <em class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="//www.labster.com/static/images/landing/cust-5.2f5ba06761cd.jpg" alt="">
                <em class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Labster offers a great possibility for teaching advanced concepts in an innovative and engaging way.</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="https://www.labster.com/static/images/landing/cust-4.34c5514de1a8.jpg" alt="">
                <em class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">After implementing Labster this year, I can see that my students finish the wetlab exercises faster than without virtual labs.</em>
              </div>
            </div>
          </div>
        </div>
      </section><!-- Press Reviews End -->
