      <section class="fw-bg bottom-shadow padding-top-3x padding-bottom-2x" id="pricing" style="background-color: #008fed; z-index: 1;">>
        <div class="container light-color">
          <!-- Plan Switcher -->
          <div id="tour-9"  class="pricing-plan-switcher text-right">
            <div class="label editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Choose a plan you need</div>
            <label class="radio-inline radio-alt size-lg">
              <input type="radio" name="plan" id="plan01" class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="" checked> Monthly
            </label>
            <label class="radio-inline radio-alt size-lg">
              <input type="radio" name="plan" id="plan02" class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name=""> Yearly
            </label>
            <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Save 20%</span>
          </div>
          <!-- Pricing Plans -->
<div class="row space-top-2x">
            <div class="col-sm-4">
              <!-- Pricing Plan -->
              <div class="pricing-plan">
                <div class="icon"><i class="flaticon-notifications1"></i></div>
                <div class="pricing-plan-title">
                  <span class="name editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Free Trial</span>
                    <price class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Free</price>
                  <span class="period editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Forever</span>
                </div>
                <a href="#" class="btn btn-block btn-success btn-float waves-effect waves-light editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Get Started</a>
                <ul class="pricing-plan-description">
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">1 Month Free Access</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Access all labs</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Online support</li>
                </ul>
              </div>
            </div>
            <!-- Pricing Plan -->
            <div class="col-sm-4">
              <div class="pricing-plan pricing-plan-float pricing-plan-success">
                <div class="icon"><i class="flaticon-graduate32"></i></div>
                <div class="pricing-plan-title">
                  <span class="name editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">For Students</span>
                    <price class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">$19</price>
                  <span class="period editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">/mo</span>
                </div>
                <a href="#" class="btn btn-block btn-default btn-plus btn-float waves-effect editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Start Learing</a>
                <ul class="pricing-plan-description">
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Cool features</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Unlimited access</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Support 24/7</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">All current labs + new labs</li>
                </ul>
              </div>
            </div>
            <!-- Pricing Plan -->
            <div class="col-sm-4">
              <div class="pricing-plan pricing-plan-float">
                <div class="icon"><i class="flaticon-screen47"></i></div>
                <div class="pricing-plan-title">
                  <span class="name editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">For Educators</span>
                    <price class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">$59</price>
                  <span class="period editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">/mo</span>
                </div>
                <a href="#" class="btn btn-block btn-success btn-float waves-effect waves-light editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Get Started</a>
                <ul class="pricing-plan-description">
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Cool features</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Custom labs</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Premium Support</li>
                <li class="editable" data-type="text" data-pk="8" data-url="" data-title="Title" data-name="">Course Builder</li>
                </ul>
              </div>
            </div>
          </div>
            
        </div>
      </section>
