      <!-- 2 required modifier classe available '.img-left' and '.img-right'-->
      <section class="split-block img-left padding-top-3x" id="our-story">
        <div class="column">
          <img src="images/labster-room.jpg" alt="" style="margin:0 auto;display:block;">
        </div>
        <div class="column">
          <div class="block-heading">
            <h2 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Why We Built Labster</h2>
            <span class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">A little story of Labster</span>
          </div>
          <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptas dolor, neque adipisci ullam. Optio deleniti dolores ex doloribus, incidunt nisi veniam libero.</p>
          <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Voluptatibus recusandae magni aliquid ratione iste, eum quas incidunt alias molestias asperiores rem temporibus dolore repellat animi dolor, officia voluptates. Quas nihil nam inventore saepe expedita laborum numquam.</p>
          <a href="#" class="link editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Read full interesting story</a>
        </div>
      </section>
