      <section class="fw-bg overlay gradient-dark padding-bottom-2x" style="background-image: url(images/space.jpg);">
        <div class="container light-color">
          <!-- Badge -->
          <div class="badge badge-reverse">
            <a href="3"  class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">
               No other education app has this
               </a>
            <span class="icon"><i class="flaticon-star51"></i></span>
          </div>
          <!-- Content -->
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Icon block are very flexible. If you remove '.icon-block-horizontal' you'll get stacked version. There is als modofier classes for icon like '.icon-bigger', '.va-middle' for vertical alignment. -->
                  <div class="icon-block icon-block-horizontal">
                    <div class="text text-right">
                      <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Handcrafted Labs</h3>
                      <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo.</p>
                      <a href="#" class="link editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">See more</a>
                    </div>
                    <div class="icon icon-bigger va-middle"><i class="flaticon-ruler9"></i></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="icon-block icon-block-horizontal">
                    <div class="icon icon-bigger va-middle"><i class="flaticon-brain1"></i></div>
                    <div class="text">
                      <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Smarter Learning</h3>
                      <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo.</p>
                      <a href="#" class="link editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">See more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="icon-block icon-block-horizontal">
                    <div class="text text-right">
                      <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Free Labs</h3>
                      <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo.</p>
                      <a href="#" class="link editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">See more</a>
                    </div>
                    <div class="icon icon-bigger va-middle"><i class="flaticon-cloud79"></i></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="icon-block icon-block-horizontal">
                    <div class="icon icon-bigger va-middle"><i class="flaticon-photo31"></i></div>
                    <div class="text">
                      <h3 class="editable" data-type="text" data-pk="8" data-url="" data-title="Title 3" data-name="">Group Labs</h3>
                      <p class="editable" data-type="textarea" data-pk="8" data-url="" data-title="Title 3" data-name="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas harum a aperiam pariatur totam impedit, sint quibusdam minus deserunt labore ipsum commodo.</p>
                      <a href="#" class="link editable" data-type="text" data-pk="8" data-url="" data-title="Link" data-name="">See more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- App Features End -->
