      <section class="padding-top-3x space-bottom-3x" id="figures">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="block-heading text-right">
                <h2>{{ site.title }}</h2>
                <span>{{ stie.tagline }}</span>
              </div>
              <div class="row space-bottom">
                <div class="col-lg-8 col-md-10 col-lg-offset-4 col-md-offset-2">
                  <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>

              <!-- Nav tabs -->
              <ul class="nav-tabs text-right">
                <li class="active"><a href="#speed" data-toggle="tab">Lab options</a></li>
                <li><a href="#downloads" data-toggle="tab">Lab benefits</a></li>
                <li><a href="#share" data-toggle="tab">Real vs Virtual</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <!-- Tab panes -->
              <!-- Use different transitions: 'scale', 'scaleup', 'top', 'bottom', 'left', 'right' and 'flip' -->
              <div class="tab-content">
                <div class="tab-pane transition scale fade in active" id="speed">
                  <img src="images/graphs/speed.png" alt="Loading Speed">
                </div>
                <div class="tab-pane transition right fade" id="downloads">
                  <img src="images/graphs/downloads.png" alt="Downloads">
                </div>
                <div class="tab-pane transition flip fade" id="share">
                  <img src="images/graphs/share.png" alt="Market Share">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>