      <section class="fw-gray-bg padding-top-3x padding-bottom-3x" id="posts">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="block-heading text-right">
                <h2>Happy Posts</h2>
                <span>Make people read</span>
              </div>
              <div class="text-right">
                <a href="blog.html" class="text-uppercase text-smaller">All Posts</a>
              </div>
              <!-- Twitter Feed -->
              <div class="twitter-feed">
                <div class="tweet">
                  <a href="#" class="author">@labster</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor et <a href="#">#magna aliqua</a>.</p>
                </div>
                <div class="tweet">
                  <a href="#" class="author">@labster</a>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
                <a href="#" class="link text-smaller text-uppercase">Follow us on twitter</a>
              </div>
              <div class="space-bottom-2x visible-xs"></div>
            </div>
            <!-- Blog Posts -->
            <div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8">
              <div class="scroller posts">
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb colored">
                      <img src="images/blog/thumb.png" alt="Interactions Map">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Great Interactions</h3></a>
                        <span>Tools to help you build lab expiriments</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb colored">
                      <img src="images/blog/thumb.png" alt="KOI New App Skins">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>New Labs all the time</h3></a>
                        <span>Choose among 30+ labs</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb colored">
                      <img src="images/blog/thumb.png" alt="Light Interface">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Oculus Rift Interface</h3></a>
                        <span>Fun to move and touch</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-tile">
                    <a href="blog-single.html" class="post-thumb colored">
                      <img src="images/blog/thumb.png" alt="Interactions Map">
                    </a>
                    <div class="post-body">
                      <div class="post-title">
                        <a href="blog-single.html"><h3>Share Your Thoughts</h3></a>
                        <span>Labs that helps to save more loves through training</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
