      <section class="space-top" id="reviews">
        <hr>
        <div class="container padding-bottom">
          <!-- Badge -->
          <div class="badge alt-color">
            <span class="icon"><i class="flaticon-star51"></i></span>
            Press & Accolades
          </div>
          <!-- Reviews -->
          <div class="row">
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/times.png" alt="New Odessa Times">
                <h3>New Student Times</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/navigator.png" alt="Navigator">
                <h3>HuffPost</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/Labstervillage.png" alt="Labstervillage">
                <h3>Vice</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/taptap.png" alt="Tap-Tap Time">
                <h3>Education Forum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/icaravely.png" alt="iCaravely">
                <h3>University Times</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/moodesign.png" alt="MooDesign">
                <h3>Techcrunch</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- Press Reviews End -->
