      <section class="space-top" id="reviews">
        <hr>
        <div class="container padding-bottom">
          <!-- Badge -->
          <div class="badge alt-color">
            <span class="icon"><i class="flaticon-star51"></i></span>
            Press & Accolades
          </div>
          <!-- Reviews -->
          <div class="row">
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press/techcrunch.jpg" alt="">
                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press/venturebeat.jpg" alt="">
                <em>Ut enim ad minim veniam, quis nostrud exercitation.</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press/huffington-post.jpg" alt="">
                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</em>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/taptap.png" alt="Tap-Tap Time">
                <em>Ut enim ad minim veniam, quis nostrud exercitation.</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/icaravely.png" alt="iCaravely">
                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="press-review">
                <img src="images/press-reviews/moodesign.png" alt="MooDesign">
                <em>Ut enim ad minim veniam, quis nostrud exercitation.</em>
              </div>
            </div>
          </div>
        </div>
      </section><!-- Press Reviews End -->
