      <section class="fw-bg gradient-dark padding-top-3x padding-bottom-2x" id="pricing">
        <div class="container light-color">
          <!-- Plan Switcher -->
          <div class="pricing-plan-switcher text-right">
            <div class="label">Choose a plan you need</div>
            <label class="radio-inline radio-alt size-lg">
              <input type="radio" name="plan" id="plan01" checked> Monthly
            </label>
            <label class="radio-inline radio-alt size-lg">
              <input type="radio" name="plan" id="plan02"> Yearly
            </label>
            <span>Save 20%</span>
          </div>
          <!-- Pricing Plans -->
          <div class="row space-top-3x">
            <div class="col-sm-4 pricing-plan">
              <div class="icon"><i class="flaticon-delivery6"></i></div>
              <div class="pricing-plan-title">
                <span class="name">Test Drive</span>
                Free
              </div>
              <a href="#" class="btn btn-block btn-plus btn-light btn-success">Sign Up</a>
              <ul class="pricing-plan-description">
                <li>1 month free</li>
                <li>E-mail support</li>
              </ul>
            </div>
            <div class="col-sm-4 pricing-plan">
              <div class="icon"><i class="flaticon-graduates1"></i></div>
              <div class="pricing-plan-title">
                <span class="name">University/College</span>
                $19
                <span class="period">/mo</span>
              </div>
              <a href="#" class="btn btn-block btn-ghost btn-plus">Get Started</a>
              <ul class="pricing-plan-description">
                <li>Cool feature</li>
                <li>Unlimited access</li>
                <li>Support 24/7</li>
                <li>All current labs + new labs</li>
              </ul>
            </div>
            <div class="col-sm-4 pricing-plan">
              <div class="icon"><i class="flaticon-bell6"></i></div>
              <div class="pricing-plan-title">
                <span class="name">High School</span>
                $8
                <span class="period">/mo</span>
              </div>
              <a href="#" class="btn btn-block btn-ghost btn-plus">Get Started</a>
              <ul class="pricing-plan-description">
                <li>Cool feature</li>
                <li>Custom labs</li>
                <li>Premium Support</li>
                <li>100 Users</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
