      <!-- 2 required modifier classe available '.img-left' and '.img-right'-->
      <section class="split-block img-left" id="app-story">
        <div class="column">
          <img src="images/vr/15021269270_e4beea9f03_k.jpg" alt="Prototyping">
        </div>
        <div class="column">
          <div class="block-heading">
            <h2>How We Build<br>This Awesome App</h2>
            <span>Little story of Labster</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptas dolor, neque adipisci ullam. Optio deleniti dolores ex doloribus, incidunt nisi veniam libero.</p>
          <p>Voluptatibus recusandae magni aliquid ratione iste, eum quas incidunt alias molestias asperiores rem temporibus dolore repellat animi dolor, officia voluptates. Quas nihil nam inventore saepe expedita laborum numquam.</p>
          <a href="#" class="link">Read full interesting story</a>
        </div>
      </section>
