      <section class="fw-gray-bg padding-top-3x" id="team">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="text-muted text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus recusandae ducimus, voluptates sequi laborum atque odio inventore iusto. Accusantium vel molestiae quo quam praesentium.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6">
              <div class="block-heading">
                <h2>What People Say</h2>
                <span>People who use Labster</span>
              </div>
            </div>
          </div>
          <div class="row space-top-3x">
            <div class="col-sm-4 team-member">
              <h3>Testimonial 1</h3>
              <span>xyz</span>
              <div class="social-buttons">
                <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
                <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
                <a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
              </div>
              <img src="images/people/good.png" alt="">
            </div>
            <div class="col-sm-4 team-member">
              <h3>Testimonial 2</h3>
              <span>xyz</span>
              <div class="social-buttons">
                <a href="#" class="sb-stackoverflow"><i class="bi-stackoverflow"></i></a>
                <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
              </div>
              <img src="images/people/good.png" alt="">
            </div>
            <div class="col-sm-4 team-member">
              <h3>Testimonial 3</h3>
              <span>xyz xyz</span>
              <div class="social-buttons">
                <a href="#" class="sb-dribbble"><i class="bi-facebook"></i></a>
                <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
              </div>
              <img src="images/people/good.png" alt="">
            </div>
          </div>
        </div>
      </section>
