<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index fixed-footer">
    <div class="fake-scrollbar"></div>
    {% include offcanvas.html %}
    {% include modals.html %}
    {% include intro.html %}
    <div class="content-wrap">
    {% include header.html %}
    {% include parts/feature-tabs.html %}
    {% include parts/app-features.html %}
    {% include parts/gallery-block.html %}
    {% include parts/video-block.html %}
    {% include parts/post-block.html %}
    {% include parts/story-block.html %}
    {% include parts/cta-block-1.html %}
    {% include parts/benefit-tabs.html %}
    {% include parts/press-block.html %}
    {% include parts/pricing.html %}
    {% include parts/cta-block-2.html %}
    </div>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>