<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index fixed-footer">
    <div class="fake-scrollbar"></div>
    {% include offcanvas.html %}
    {% include labsterx/modals.html %}
    {% include labsterx/intro.html %}
    <div class="content-wrap">
    {% include labsterx/header.html %}
    {% include labsterx/parts/feature-tabs.html %}
    {% include labsterx/parts/app-features.html %}
    {% include labsterx/parts/gallery-block.html %}
    {% include labsterx/parts/video-block.html %}
    {% include labsterx/parts/post-block.html %}
    {% include labsterx/parts/story-block.html %}
    {% include labsterx/parts/cta-block-1.html %}
    {% include labsterx/parts/benefit-tabs.html %}
    {% include labsterx/parts/press-block.html %}
    {% include labsterx/parts/pricing.html %}
    {% include labsterx/parts/cta-block-2.html %}
    </div>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>