<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index fixed-footer">
    <div class="fake-scrollbar"></div>
    {% include material/offcanvas.html %}
    {% include material/modals.html %}
    {% include material/intro3.html %}
    <div class="content-wrap">
    {% include material/header.html %}
    {% include material/parts/feature-tabs.html %}
    {% include material/parts/cta-block-1.html %}
    {% include material/parts/gallery-block.html %}
    {% include material/parts/video-block.html %}
    {% include material/parts/post-block.html %}
    {% include material/parts/story-block.html %}
    {% include material/parts/benefit-tabs.html %}
    {% include material/parts/press-block.html %}
    {% include material/parts/pricing.html %}
    {% include material/parts/cta-block-2.html %}
    </div>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>